<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344471242957-no3htg91dkcur6lnuop738bgmcpl38bb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344471242957-no3htg91dkcur6lnuop738bgmcpl38bb</string>
	<key>API_KEY</key>
	<string>AIzaSyAyMJkI4k8ijJ-gdc23ieCTrPcp12yNW8M</string>
	<key>GCM_SENDER_ID</key>
	<string>344471242957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.maasfirstapp</string>
	<key>PROJECT_ID</key>
	<string>maas-first-app</string>
	<key>STORAGE_BUCKET</key>
	<string>maas-first-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344471242957:ios:fdb7c6d22c0fee83600184</string>
</dict>
</plist>